<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <title>VIP, Blueark</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">



    <script>

    </script>
    <!-- Le styles -->



    <script>
        var u;
    </script>


</head>

<body>
<%- body %>
</body>
</html>